body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/TechOn\ \(1\).png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

 .w3-card, .w3-hide-medium, .w3-hide-large {
  background-color: rgb(4, 28, 39) !important;
}
.w3-bar-item {
  color: #04ffff;
}

#start{
  background-color: #04ffff !important;
  opacity: 1;
}

.what {
  text-align: center;
}

.fas{
  font-size: 80px;
}

.fas, .fa {
  color:rgb(4, 28, 39);
}

.w3-card {
  background-color: rgb(4, 28, 39) !important;
}