body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  /* background-position: center;
  background-size: cover; */
  background: url("techon\ finale.jpg")center center no-repeat;
  min-height: 100%;
}

.w3-display-left{
  padding:48px;
}

.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar,
#mySidebar,
#promo {
  background-color: rgb(4, 23, 39) !important;
}

.w3-bar-item,
.nav,
.fa-paper-plane,
.fa-facebook-official,
.fa-instagram,
.fa-twitter {
  color: aqua !important;
}

.more-about,
.about-us {
  text-align: justify;
}

.fa,
.fas {
  color: rgb(4, 23, 39);
}

#work {
  background-color: aqua;
  color: rgb(4, 23, 39);
}

#logo {
  display: block;
  margin: auto;
}

#location,
#mail {
  color: aqua;
  background-color: black;
}

#contact {
  background-color: rgb(146, 255, 255);
}
#send-message {
  background-color: rgb(4, 23, 39);
  color: rgb(146, 255, 255);
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1065px) {
  .bgimg-1{
    background: url("TechOn.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.6);
  }
  /* Override class to re-sizze header text */
  .w3-jumbo{
    font-size: 3em !important;
  }
  /* Override class to center header text */
  .w3-display-left{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #logo {
    display: block;
    margin: auto;
  }
  #contact {
    padding: 16px !important;
  }
  .fa-facebook-official,
  .fa-instagram,
  .fa-twitter,
  .fa-map-marker,
  .fa-envelope {
    font-size: 30px !important;
    margin-left: 15px;
  }
}

/* #solutions {
  margin-top: -200px !important;
} */

.w3-input {
  width: 60% !important;
  margin-left: 20%;
}

.fa-facebook-official,
.fa-instagram,
.fa-twitter {
  font-size: 52px;
  margin-left: 15px;
}
