/* body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/TechOn\ \(1\).png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

 .w3-card, .w3-hide-medium, .w3-hide-large {
  background-color: rgb(4, 28, 39) !important;
}
.w3-bar-item {
  color: #04ffff;
}

#start{
  background-color: #04ffff !important;
  opacity: 1;
}

<div class="w3-row-padding w3-center" style="margin-top:64px">
<div class="w3-quarter">
 <i class="fa fa-user w3-margin-bottom w3-jumbo"></i>
  <p class="w3-large">Innovation</p>
  <p>Solving problems is our
    phyilosophy, motivating us to use technology as a tool to innovate and improve lives.
    We believe in solving problems in real problems.
    Putting effort into making small differences that will have sustainable impact in the future</p>
</div>
<div class="w3-quarter">
  <i class="fa fa-user w3-margin-bottom w3-jumbo"></i>
   <p class="w3-large">UX</p>
   <p>At TechOn, we are serious about user-experience. We understand that when your user is happy,your
      business flourishes. So we go the extra mile to ensure that all our solutions are user-friendly</p>
 </div>
<div class="w3-quarter">
  <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
  <p class="w3-large">Passion</p>
  <p>We are passionate about innovation and problem-solving.This enables us to design solutions that are custom-built
     to suit the needs of your business.Solutions that are scalable and adabptable.</p>
</div>
<div class="w3-quarter">
  <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
  <p class="w3-large">Support</p>
  <p>TechOn is there for you every step of the way. We maintain your solution to ensure it is always functioning at its
     best. And we assist with any technival difficulties you may experience along the way</p>
</div> */