.custom-nav {
  background-color: rgb(196, 188, 188);
}
.custom-link {
  font-size: 20px;
  color: rgb(12, 30, 53) !important;
  margin-left: 30px;
  text-decoration: none;
  text-align: right !important;
}
@media only screen and (max-width: 568px) {
  .custom-link {
    font-size: 15px;
    margin-left: 15px;
  }

  .nav {
    width: 110%;
  }
  img {
    width: 50px;
    height: 25px;
  }
}
