@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
.navbar {
  background-color: rgb(145, 255, 246);
  height: 70px;
}

.navbar-brand {
  text-decoration: none !important;
}

.nav-link,.navbar-brand {
  color: rgb(7, 71, 87) !important;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .nav-link {
    font-size: 18px;
    margin-left: 15px;
  }

  .navbar {
    width: 110%;
  }
}

@media only screen and (max-width: 568px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .image {
    margin-top: 0;
    padding-top: 0;
  }
  .text {
    font-size: 15px;
    text-align: left !important;
    margin-top: 0;
    padding-top: 0;
  }
}

.text {
  color: rgb(195, 255, 249);
  margin: 60px 0px 0px 20px;
  text-align: justify;
  font-weight: 100;
  font-family: "Spartan";
}

.row-about {
  background-image: url("./techOn.png");
  margin-top: 50px;
}

.row {
  display: flex;
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-us {
    height: 100vh;
  }
}

h2 {
  font-weight: 500;
}

h1 {
  font-weight: 500;
}

/* #navbar {
  margin-top: 100px;
  width: 150px !important;
  height: 100% !important;
}
#menu {
  background-color: #c8e2f8;
}
.sidenav---navtext---1AE_f {
  color: rgb(9, 29, 41) !important;
  margin: 15px 0px 0px 30px;
}

.sidenav---sidenav---_2tBP {
  background:#c8e2f8 !important;
} */
