@import url("https://fonts.googleapis.com/css?family=Kosugi&display=swap");

.custom-nav {
  background-color: #11212b;
}
.custom-link {
  font-size: 20px;
  color: #12ffef !important;
  margin-left: 30px;
  text-decoration: none;
  text-align: right !important;
}
@media only screen and (max-width: 568px) {
  .custom-link {
    font-size: 15px;
    margin-left: 15px;
  }

  .nav {
    width: 110%;
  }
  .row {
    display: flex;
    flex-direction: column-reverse;
 }
 .story, .image {
    margin-top: 0;
    padding-top: 0;
 }
 .text {
    margin-left: 5px !important;
    font-size: 15px;
    text-align: left !important;
    margin-top: 0;
    padding-top: 0;
 }

}

.about-us{
  background-image: url("./techOn.png");
}
.text {
  background-image: url("./techOn.png");
  color: rgb(195, 255, 249);
  margin: 20px 0px 0px 10px;
  text-align: justify;
 font-family: 'Kosugi' ;

}

.row-about {
  background-image: url("./techOn.png");
  height: 100vh;
}

.row {
    display: flex;
}

@media only screen  and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
       .custom-link {
    font-size: 20px !important;
    margin-left: 15px;
  }

  .nav {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column-reverse;
 }
  }




