.footer-container{
    display: block;
    padding: "20px";
    height: "30px";
    width: "100%";
}

.footer-children{
    background-color: #011627;
    font-size: 50px;
    color: #51bc97;
    border-top: 1px solid #011627;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100vw;
    cursor: pointer;
   
  
}


.footer-children svg {
    margin-right: 2%;
   font-size: .7em;
}

.footer-children svg:last-of-type {
    margin-right: 0;
    
}